* {
  margin: 0;
  padding: 0;
}

p {
  margin: 5px 0 10px 0;
}

h1 {
  margin: 0;
  padding: 0;
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(img/table.jpg);
  /* Путь к фоновому изображению */
  background-attachment: fixed;
  /* Фиксируем фон веб-страницы */
  background-size: cover;
  height: 100%;
}

.wrapper {
  display: flex;
}

.left-menu {
  width: 300px;
  min-height: 100vh;
  padding: 0;
  margin-left: 40px;
  background-color: rgba(238, 240, 241, 0.507);
}

.widget-list {
  border-left: 2px solid rgba(34, 36, 20, 0.507);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  margin-left: 25px;
  white-space: nowrap;
  position: fixed;
}

a {
  text-transform: uppercase;
  display: block;
  height: 100%;
  left:0;
  right:0;
  font-size: 16px;
  width: 90%;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin: 20px 5px;
  margin-left: 15px;
  padding: 10px 5px;
  background-color: rgba(194, 194, 194, 0.507);
  border-top: 1px solid rgba(34, 36, 20, 0.507);
  border-bottom: 1px solid rgba(34, 36, 20, 0.507);
}

/*
Основной блок блок
*/
.main {
  width: 800px;
  min-height: 100%;
  padding: 0;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  list-style: none;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.main-title {
  margin-top: 55px;
  background-color: rgba(238, 240, 241, 0.507);
  align-items: center;
  justify-content: center;
}

.h1 .persone {
  margin: 20px auto;
  font: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 22px;
  color: rgba(34, 34, 34, 0.657);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.main-wrapper {
  margin-top: 110px;
  padding: 10px;
  align-items: center;
  background-color: rgba(238, 240, 241, 0.507);
  min-width: 100%;
  min-height: 30%;
  display: flex;
  flex-direction: column;
}
.main-list {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.list-item {
  width: 100%;
  border-bottom: 2px solid rgba(34, 36, 20, 0.507);
  padding: 10px;
  display: none;
}

.main-title {
  position: sticky;
  top: 0;
}

.text {
  margin: 10px 10px 10px 20px;
  text-align: left;
  word-break: break-all;
  font-size: 14px;
  text-transform: none;
  white-space: pre-line;
}

.subtitle {
  font-weight: bold;
  font-size: 18px;
}

img {
  width: 200px;
  margin: auto;
  background-color: none;
}

#hidden {
  /*display: none; */
  transition: 1.55s opacity, .55s visibility;
}